---
title: Icons
layout: blank
---
<h1> Icons </h1>

{{#each (data "icons")}}
<div class="drizzle-c-Space-inset-m">
    <svg class="sprk-c-Icon sprk-c-Icon--s" viewBox="{{this.viewBox}}">
      <use xlink:href="#{{this.name}}" />
    </svg>

    <svg class="sprk-c-Icon" viewBox="{{this.viewBox}}">
      <use xlink:href="#{{this.name}}" />
    </svg>

    <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="{{this.viewBox}}">
      <use xlink:href="#{{this.name}}" />
    </svg>
</div>
{{else}}
  Theres nothing
{{/each}}
