<!DOCTYPE html>
<html class="{{htmlclass}}" lang="en-US">
  <head>
    {{#block "head"}}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Spark Design System is a system of
            patterns and components used to create the user interface for
            the Quicken Loans family of Fintech products.">
      {{#if title}}
        <title>{{title}} - {{data "project.title"}}</title>
      {{else if name}}
        <title>{{name}} - {{data "project.title"}}</title>
      {{else}}
        <title>{{data "project.title"}}</title>
      {{/if}}

      <link rel="preconnect" href="https://use.typekit.net">
      <link rel="stylesheet" href="https://use.typekit.net/exb7ocq.css">
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/toolkit/styles/toolkit.css">
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/drizzle/styles/main.css">

      <!-- Favicon -->
      <meta name="apple-mobile-web-app-title" content="Spark">
      <meta name="application-name" content="Spark">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
    {{/block}}
    <script>
      document.getElementsByTagName('html')[0].classList.add('js');
    </script>
  </head>
  <body class="{{bodyclass}}">
    {{> drizzle.spark-core-icons}}

    {{#block "body"}}
      {{#block "main"}}

      {{/block}}
    {{/block}}

    {{#block "foot"}}
      {{> drizzle.footer}}
    {{/block}}
    

    <script src="{{@root.baseurl}}/assets/drizzle/scripts/drizzle.js"></script>
    <script src="{{@root.baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
  </body>
</html>
