{{#extend "default"}}
  {{#content "main"}}
    <div class="drizzle-Layout-section-header">
      <h1 class="drizzle-h1">{{name}}</h1>
    </div>
    {{#if sparkPackageCore}}
    <a class="drizzle-Item-control" href="https://www.npmjs.com/package/@sparkdesignsystem/spark-core">
      <svg viewBox="0 0 11 12">
        <path d="M8.29289322,8.29289322 C8.11192881,8.47385763 8,8.72385763 8,9 L8,9.99895656 C8,10.5497993 7.55127164,11 7.0026083,11 L1.9973917,11 C1.44746825,11 1,10.5527784 1,10.0026083 L1,4.9973917 C1,4.44787731 1.44844877,4 2.00104344,4 L3,4 C3.27614237,4 3.52614237,3.88807119 3.70710678,3.70710678 L3,3 L2.00104344,3 C0.895897664,3 0,3.89585781 0,4.9973917 L0,10.0026083 C0,11.1057373 0.895857811,12 1.9973917,12 L7.0026083,12 C8.10573727,12 9,11.0999011 9,9.99895656 L9,9 L8.29289322,8.29289322 L8.29289322,8.29289322 Z"></path>
        <path d="M6.9505215,3.81444077 L4.21751445,0.98959236 L11.0000001,0.999999934 L10.9999997,7.99999974 L8.34122783,5.2518811 L4.68908982,8.72467594 C4.28886233,9.10524972 3.65589784,9.08931724 3.27532406,8.68908975 C2.89475028,8.28886226 2.91068276,7.65589777 3.31091025,7.27532399 L6.9505215,3.81444077 L6.9505215,3.81444077 Z"></path>
      </svg>
      Spark-Core
    </a>
    {{/if}}
    {{#if sparkPackageExtras}}
    <a class="drizzle-Item-control" href="https://www.npmjs.com/package/@sparkdesignsystem/spark-extras">
      <svg viewBox="0 0 11 12">
        <path d="M8.29289322,8.29289322 C8.11192881,8.47385763 8,8.72385763 8,9 L8,9.99895656 C8,10.5497993 7.55127164,11 7.0026083,11 L1.9973917,11 C1.44746825,11 1,10.5527784 1,10.0026083 L1,4.9973917 C1,4.44787731 1.44844877,4 2.00104344,4 L3,4 C3.27614237,4 3.52614237,3.88807119 3.70710678,3.70710678 L3,3 L2.00104344,3 C0.895897664,3 0,3.89585781 0,4.9973917 L0,10.0026083 C0,11.1057373 0.895857811,12 1.9973917,12 L7.0026083,12 C8.10573727,12 9,11.0999011 9,9.99895656 L9,9 L8.29289322,8.29289322 L8.29289322,8.29289322 Z"></path>
        <path d="M6.9505215,3.81444077 L4.21751445,0.98959236 L11.0000001,0.999999934 L10.9999997,7.99999974 L8.34122783,5.2518811 L4.68908982,8.72467594 C4.28886233,9.10524972 3.65589784,9.08931724 3.27532406,8.68908975 C2.89475028,8.28886226 2.91068276,7.65589777 3.31091025,7.27532399 L6.9505215,3.81444077 L6.9505215,3.81444077 Z"></path>
      </svg>
      Spark-Extras
    </a>
    {{/if}}
    {{#if notes}}
        <p>{{notes}}</p>
    {{/if}}
    {{#if info}}
        <h2 class="drizzle-h2">Information</h2>
        <ul class="drizzle-List drizzle-List--nested">
          {{#each info}}
            <li>{{.}}</li>
          {{/each}}
        </ul>
    {{/if}}
    {{#if restrictions}}
        <h3 class="drizzle-h3">Restrictions</h3>
        <ul class="drizzle-List drizzle-List--nested">
          {{#each restrictions}}
            <li class="drizzle-List__item">{{.}}</li>
          {{/each}}
        </ul>
    {{/if}}
    {{!-- prereqs --}}
    {{#if prereqs }}
        <div>
            <h2 class="drizzle-h2">Prerequisites</h2>
            <p>Please see the following sections for additional setup required by this pattern:</p>
            <ul class="drizzle-Arrange drizzle-Arrange--withGutter drizzle-List">
                {{#each prereqs as |url label|}}
                    <li class="dirzzle-Arrange-sizeFit drizzle-List__item">
                        <a class="drizzle-Item-control" href="{{url}}">
                            <svg viewBox="0 0 11 12">
                                <path d="M8.29289322,8.29289322 C8.11192881,8.47385763 8,8.72385763 8,9 L8,9.99895656 C8,10.5497993 7.55127164,11 7.0026083,11 L1.9973917,11 C1.44746825,11 1,10.5527784 1,10.0026083 L1,4.9973917 C1,4.44787731 1.44844877,4 2.00104344,4 L3,4 C3.27614237,4 3.52614237,3.88807119 3.70710678,3.70710678 L3,3 L2.00104344,3 C0.895897664,3 0,3.89585781 0,4.9973917 L0,10.0026083 C0,11.1057373 0.895857811,12 1.9973917,12 L7.0026083,12 C8.10573727,12 9,11.0999011 9,9.99895656 L9,9 L8.29289322,8.29289322 L8.29289322,8.29289322 Z"></path>
                                <path d="M6.9505215,3.81444077 L4.21751445,0.98959236 L11.0000001,0.999999934 L10.9999997,7.99999974 L8.34122783,5.2518811 L4.68908982,8.72467594 C4.28886233,9.10524972 3.65589784,9.08931724 3.27532406,8.68908975 C2.89475028,8.28886226 2.91068276,7.65589777 3.31091025,7.27532399 L6.9505215,3.81444077 L6.9505215,3.81444077 Z"></path>
                            </svg>
                            {{label}}
                        </a>
                    </li>
                {{/each}}
            </ul>

        </div>
    {{/if}}
    {{!-- contents --}}
    {{#if contents}}
      <div>
        <h2 class="drizzle-h2">Table of Contents</h2>
        <ul class="drizzle-Arrange drizzle-Arrange--withGutter drizzle-List">
          {{#each contents as |url label|}}
            <li class="dirzzle-Arrange-sizeFit drizzle-List__item">
              <a class="drizzle-Item-control" href="{{url}}">
                <svg viewBox="0 0 11 12">
                  <path d="M8.29289322,8.29289322 C8.11192881,8.47385763 8,8.72385763 8,9 L8,9.99895656 C8,10.5497993 7.55127164,11 7.0026083,11 L1.9973917,11 C1.44746825,11 1,10.5527784 1,10.0026083 L1,4.9973917 C1,4.44787731 1.44844877,4 2.00104344,4 L3,4 C3.27614237,4 3.52614237,3.88807119 3.70710678,3.70710678 L3,3 L2.00104344,3 C0.895897664,3 0,3.89585781 0,4.9973917 L0,10.0026083 C0,11.1057373 0.895857811,12 1.9973917,12 L7.0026083,12 C8.10573727,12 9,11.0999011 9,9.99895656 L9,9 L8.29289322,8.29289322 L8.29289322,8.29289322 Z"></path>
                  <path d="M6.9505215,3.81444077 L4.21751445,0.98959236 L11.0000001,0.999999934 L10.9999997,7.99999974 L8.34122783,5.2518811 L4.68908982,8.72467594 C4.28886233,9.10524972 3.65589784,9.08931724 3.27532406,8.68908975 C2.89475028,8.28886226 2.91068276,7.65589777 3.31091025,7.27532399 L6.9505215,3.81444077 L6.9505215,3.81444077 Z"></path>
                </svg>
                {{label}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
    {{!-- Links --}}
    {{#if links}}
      <div class="drizzle-u-inlineBlock">
        <h2 class="drizzle-h2">Scales CSS Docs</h2>
        <p>See how Scales CSS affects this pattern.</p>
        <ul class="drizzle-Arrange drizzle-Arrange--withGutter">
          {{#each links as |url label|}}
            <li class="drizzle-Arrange-sizeFit">
              <a class="drizzle-Item-control" href="{{url}}">
                <svg viewBox="0 0 11 12">
                  <path d="M8.29289322,8.29289322 C8.11192881,8.47385763 8,8.72385763 8,9 L8,9.99895656 C8,10.5497993 7.55127164,11 7.0026083,11 L1.9973917,11 C1.44746825,11 1,10.5527784 1,10.0026083 L1,4.9973917 C1,4.44787731 1.44844877,4 2.00104344,4 L3,4 C3.27614237,4 3.52614237,3.88807119 3.70710678,3.70710678 L3,3 L2.00104344,3 C0.895897664,3 0,3.89585781 0,4.9973917 L0,10.0026083 C0,11.1057373 0.895857811,12 1.9973917,12 L7.0026083,12 C8.10573727,12 9,11.0999011 9,9.99895656 L9,9 L8.29289322,8.29289322 L8.29289322,8.29289322 Z"></path>
                  <path d="M6.9505215,3.81444077 L4.21751445,0.98959236 L11.0000001,0.999999934 L10.9999997,7.99999974 L8.34122783,5.2518811 L4.68908982,8.72467594 C4.28886233,9.10524972 3.65589784,9.08931724 3.27532406,8.68908975 C2.89475028,8.28886226 2.91068276,7.65589777 3.31091025,7.27532399 L6.9505215,3.81444077 L6.9505215,3.81444077 Z"></path>
                </svg>
                {{label}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
    {{#each patterns}}
      {{> drizzle.item}}
    {{/each}}
  {{/content}}
{{/extend}}
