<{{tag}} {{#if id}} id="{{id}}"{{/if}} class="
  drizzle-b-{{tag}}">
  {{#if id}}
    <a href="#{{id}}" class="drizzle-u-linkHidden drizzle-b-Link">{{> @partial-block }}</a>
  {{else}}
    {{> @partial-block }}
  {{/if}}
</{{tag}}>
