<div class="drizzle-state-switcher" data-state-changer-id="{{toSlug name}}">
  <div class="drizzle-state-switcher__state">
    <input class="drizzle-state-switcher__state-item" id="drizzle-form-state-normal-{{toSlug name}}" name="drizzle-form-state-{{toSlug name}}" type="radio" value="normal" checked>
    <label class="drizzle-state-switcher__state-item drizzle-h6" for="drizzle-form-state-normal-{{toSlug name}}">Normal</label>
  </div>
  <div class="drizzle-state-switcher__state">
    <input class="drizzle-state-switcher__state-item" id="drizzle-form-state-error-{{toSlug name}}" name="drizzle-form-state-{{toSlug name}}" type="radio" value="error">
    <label class="drizzle-state-switcher__state-item drizzle-h6" for="drizzle-form-state-error-{{toSlug name}}">Error</label>
  </div>
  <div class="drizzle-state-switcher__state">
    <input class="drizzle-state-switcher__state-item" id="drizzle-form-state-disabled-{{toSlug name}}" name="drizzle-form-state-{{toSlug name}}" type="radio" value="disabled">
    <label class="drizzle-state-switcher__state-item drizzle-h6" for="drizzle-form-state-disabled-{{toSlug name}}">Disabled</label>
  </div>
</div>