<div class="drizzle-state-switcher" data-state-changer-id="{{id}}">
  <div class="drizzle-state-switcher__state">
    <input class="drizzle-state-switcher__state-item" id="drizzle-form-state-normal-{{id}}"
           name="drizzle-form-state-{{id}}" type="radio" value="normal" checked>
    <label class="drizzle-state-switcher__state-item drizzle-h6"
           for="drizzle-form-state-normal-{{id}}">Normal</label>
  </div>
  <div class="drizzle-state-switcher__state">
    <input class="drizzle-state-switcher__state-item"
           id="drizzle-form-state-error-{{id}}" name="drizzle-form-state-{{id}}" type="radio"
           value="error">
    <label class="drizzle-state-switcher__state-item drizzle-h6"
           for="drizzle-form-state-error-{{id}}">Error</label>
  </div>
  <div class="drizzle-state-switcher__state">
    <input class="drizzle-state-switcher__state-item" id="drizzle-form-state-disabled-{{id}}"
           name="drizzle-form-state-{{id}}" type="radio" value="disabled">
    <label class="drizzle-state-switcher__state-item drizzle-h6"
           for="drizzle-form-state-disabled-{{id}}">Disabled</label>
  </div>
</div>