---
name: Base Accordion
hidden: true
---
<ul class="sprk-c-Accordion sprk-o-VerticalList">
  <li class="sprk-c-Accordion__item {{item}}" data-sprk-toggle="container">
    <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
        <h3 class="sprk-b-TypeBodyOne sprk-c-Accordion__heading {{heading}}">
          This is an accordion heading
        </h3>
        
        <svg class="sprk-c-Icon sprk-c-Icon--l sprk-c-Accordion__icon sprk-c-SvgChevronCircle" data-sprk-toggle="icon" viewBox="0 0 448 512">
          <use xlink:href="#chevron-down-circle" data-sprk-toggle="svgUse"></use>
        </svg>
    </a>

    <div data-sprk-toggle="content" class="sprk-c-Accordion__details {{details}}">
      <p id="details1" class="sprk-b-TypeBodyTwo sprk-u-phs sprk-u-mbm">
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
      </p>
    </div>
  </li>

  <li class="sprk-c-Accordion__item {{item}}" data-sprk-toggle="container">
    <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
        <h3 class="sprk-b-TypeBodyOne sprk-c-Accordion__heading {{heading}}">
          This is an accordion heading
        </h3>

        <svg class="sprk-c-Icon sprk-c-Icon--l sprk-c-Accordion__icon sprk-c-SvgChevronCircle" data-sprk-toggle="icon" viewBox="0 0 448 512">
          <use xlink:href="#chevron-down-circle" data-sprk-toggle="svgUse"></use>
        </svg>
    </a>

    <div data-sprk-toggle="content" class="sprk-c-Accordion__details {{details}}">
      <p id="details1" class="sprk-b-TypeBodyTwo sprk-u-phs sprk-u-mbm">
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
      </p>
    </div>
  </li>

  <li class="sprk-c-Accordion__item {{item}}" data-sprk-toggle="container">
    <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
        <h3 class="sprk-b-TypeBodyOne sprk-c-Accordion__heading {{heading}}">
          This is an accordion heading
        </h3>

        <svg class="sprk-c-Icon sprk-c-Icon--l sprk-c-Accordion__icon sprk-c-SvgChevronCircle" data-sprk-toggle="icon" viewBox="0 0 448 512">
          <use xlink:href="#chevron-down-circle" data-sprk-toggle="svgUse"></use>
        </svg>
    </a>

    <div data-sprk-toggle="content" class="sprk-c-Accordion__details {{details}}">
      <p id="details1" class="sprk-b-TypeBodyTwo sprk-u-phs sprk-u-mbm">
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
      </p>
    </div>
  </li>
</ul>
