---
name: Base Accordion
hidden: true
---
<h3 class="sprk-b-TypeDisplayThree sprk-u-mbm">
  Accordion Heading
</h3>

<ul class="sprk-c-Accordion sprk-o-VerticalList">
  <li class="sprk-c-Accordion__item {{itemClass}}" data-sprk-toggle="container">
    <a class="sprk-c-Accordion__summary {{summaryClass}} sprk-b-Link sprk-b-Link--standalone" data-sprk-toggle="trigger" href="#">
        <h3 class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{headingClass}}">
          This is accordion section
        </h3>

        <svg class="sprk-c-Icon sprk-c-Accordion__icon {{iconClass}}" data-sprk-toggle="icon" viewBox="0 0 448 512">
          <use xlink:href="#chevron-down"></use>
        </svg>
    </a>

    <p class="sprk-c-Accordion__details {{detailsClass}} sprk-b-TypeBodyThree" data-sprk-toggle="content">
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
    </p>
  </li>

  <li class="sprk-c-Accordion__item {{itemClass}}" data-sprk-toggle="container">
    <a class="sprk-c-Accordion__summary {{summaryClass}} sprk-b-Link sprk-b-Link--standalone" data-sprk-toggle="trigger" href="#">
        <h3 class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{headingClass}}">
          This is accordion section
        </h3>

        <svg class="sprk-c-Icon sprk-c-Accordion__icon {{iconClass}}" data-sprk-toggle="icon" viewBox="0 0 448 512">
          <use xlink:href="#chevron-down"></use>
        </svg>
    </a>

    <p class="sprk-c-Accordion__details {{detailsClass}} sprk-b-TypeBodyThree" data-sprk-toggle="content">
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
    </p>
  </li>

  <li class="sprk-c-Accordion__item {{itemClass}}" data-sprk-toggle="container">
    <a class="sprk-c-Accordion__summary {{summaryClass}} sprk-b-Link sprk-b-Link--standalone" data-sprk-toggle="trigger" href="#">
        <h3 class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{headingClass}}">
          This is accordion section
        </h3>

        <svg class="sprk-c-Icon sprk-c-Accordion__icon {{iconClass}}" data-sprk-toggle="icon" viewBox="0 0 448 512">
          <use xlink:href="#chevron-down"></use>
        </svg>
    </a>

    <p class="sprk-c-Accordion__details {{detailsClass}} sprk-b-TypeBodyThree" data-sprk-toggle="content">
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
    </p>
  </li>
</ul>
