---
name: Base Accordion
hidden: true
---
<ul class="sprk-c-Accordion sprk-o-VerticalList">
  <li class="sprk-c-Accordion__item {{item}}" data-sprk-toggle="container">
    <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
        <h3 class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{heading}}">
          This is an accordion heading
        </h3>

        <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
          <use xlink:href="#chevron-down"></use>
        </svg>
    </a>

    <p id="details1" class="sprk-c-Accordion__details {{details}} sprk-b-TypeBodyThree" data-sprk-toggle="content">
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
    </p>
  </li>

  <li class="sprk-c-Accordion__item {{item}}" data-sprk-toggle="container">
    <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
        <h3 class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{heading}}">
          This is an accordion heading
        </h3>

        <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
          <use xlink:href="#chevron-down"></use>
        </svg>
    </a>

    <p id="details1" class="sprk-c-Accordion__details {{details}} sprk-b-TypeBodyThree" data-sprk-toggle="content">
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
    </p>
  </li>

  <li class="sprk-c-Accordion__item {{item}}" data-sprk-toggle="container">
    <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
        <h3 class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{heading}}">
          This is an accordion heading
        </h3>

        <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
          <use xlink:href="#chevron-down"></use>
        </svg>
    </a>

    <p id="details1" class="sprk-c-Accordion__details {{details}} sprk-b-TypeBodyThree" data-sprk-toggle="content">
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
    </p>
  </li>
</ul>
