<div class="  drizzle-c-SiteHeader">
  <a href="{{@root.baseurl}}/">
    {{> drizzle.logo}}
  </a>
</div>

<div class="drizzle-o-Layout__content drizzle-o-Layout__content--centered drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <p>
      <strong>Welcome to the Spark Design System</strong>, a product
      of <a class="drizzle-b-Link" href="https://github.com/quickenloans">Quicken Loans</a>.
      Spark Design System is a system of patterns and components
      used to create the user interface for the Quicken Loans
      family of Fintech products.
      Spark's patterns are separated into two groups:
    </p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h3 class="drizzle-b-h3">
      <a class="drizzle-b-Link drizzle-b-Label" href="https://www.npmjs.com/package/@sparkdesignsystem/spark">
        Spark
      </a>
    </h3>

    <p class="sprk-u-mbm">
      Spark contains the basic patterns and components that make up the visual and interaction
      design of the Quicken Loans family of Fintech products. If your application is expected
      to look and behave like a Quicken Loans application, this package is the starting point.
      When the Spark Sass and JS setup files are imported into an application you will receive
      code for all of Spark.
    </p>

    <p class="sprk-u-mbs">
      The following components are in Spark:
    </p>
    <div class="drizzle-u-Columned">
      <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/accordions.html">
            Accordions
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/alerts.html">
            Alerts
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/buttons.html">
            Buttons
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/dividers.html">
            Dividers
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/dropdown.html">
            Dropdown
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/footer.html">
            Footer
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/icons.html">
            Icons
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/inputs.html">
            Inputs
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/links.html">
            Links
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/lists.html">
            Lists
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/masthead.html">
            Masthead
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/modals.html">
            Modals
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/pagination.html">
            Pagination
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/promo.html">
            Promo
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/stepper.html">
            Stepper
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/tables.html">
            Tables
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/tabs.html">
            Tabbed Navigation
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/toggle.html">
            Toggle
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/card.html">
            Card
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/dictionary.html">
            Dictionary
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/highlight-board.html">
            Highlight Board
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/awards.html">
            Awards
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s">
    <div class="sprk-o-Stack__item">
      <a class="drizzle-b-Button" href="/gettingstarted/html.html">
        Getting Started for HTML
      </a>
    </div>
    <div class="sprk-o-Stack__item">
      <a class="drizzle-b-Button" href="/gettingstarted/angular.html">
        Getting Started for Angular
      </a>
    </div>
  </div>
  <div class="sprk-o-Stack sprk-o-Stack--medium sprk-u-mtm">
    <div class="sprk-o-Stack__item">
      <a class="drizzle-b-Button" href="/gettingstarted/react.html">
        Getting Started for React
      </a>
    </div>
  </div>
</div>
