<div class="  drizzle-c-SiteHeader">
  <a href="{{@root.baseurl}}/">
    {{> drizzle.logo}}
  </a>
</div>

<div class="drizzle-o-Layout__content drizzle-o-Layout__content--centered drizzle-b-LongFormText">
<div class="drizzle-c-Alert">
    <div class="drizzle-c-Alert__icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
        <path d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/>
      </svg>
    </div>
    <p class="drizzle-c-Alert__message sprk-u-mbn">
      We are working on a new version of our documentation site! 
      You can see a preview of the new developer docs now for
      <a class="drizzle-b-Link drizzle-b-Link--inline" href="https://spark-sb-angular.netlify.com/">
        Angular
      </a>,
      <a class="drizzle-b-Link drizzle-b-Link--inline" href="https://spark-sb-react.netlify.com/">
        React
      </a>, and
      <a class="drizzle-b-Link drizzle-b-Link--inline" href="https://spark-sb-html.netlify.com/">
        HTML.
      </a>
      The new documentation site is under development and may not be in a working state all the time.
      Please reach out to the
      <a class="drizzle-b-Link drizzle-b-Link--inline" href="mailto:sparkdesignsystem@quickenloans.com">Spark team</a>
      with any feedback or questions.
    </p>
  </div>
  <div class="drizzle-o-ContentGrouping">
    <p>
      <strong>Welcome to the Spark Design System</strong>, a product
      of <a class="drizzle-b-Link" href="https://github.com/quickenloans">Quicken Loans</a>.
      Spark Design System is a system of patterns and components
      used to create the user interface for the Quicken Loans
      family of Fintech products.
    </p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h3 class="drizzle-b-h3">
      <a class="drizzle-b-Link drizzle-b-Label" href="https://www.npmjs.com/package/@sparkdesignsystem/spark">
        Spark
      </a>
    </h3>

    <p class="sprk-u-mbm">
      Spark contains the patterns and components that make up the visual and interaction
      design of the Quicken Loans family of Fintech products. If your application is expected
      to look and behave like a Quicken Loans application, this package is the starting point.
      When the Spark Sass and JS setup files are imported into an application you will receive
      code for all of Spark.
    </p>

    <p class="sprk-u-mbs">
      The following components are in Spark:
    </p>
    <div class="drizzle-u-Columned">
      <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/accordions.html">
            Accordions
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/alerts.html">
            Alerts
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/buttons.html">
            Buttons
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/dividers.html">
            Dividers
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/dropdown.html">
            Dropdown
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/footer.html">
            Footer
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/icons.html">
            Icons
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/inputs.html">
            Inputs
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/links.html">
            Links
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/lists.html">
            Lists
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/masthead.html">
            Masthead
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/modals.html">
            Modals
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/pagination.html">
            Pagination
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/promo.html">
            Promo
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/stepper.html">
            Stepper
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/tables.html">
            Tables
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/tabs.html">
            Tabbed Navigation
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/toggle.html">
            Toggle
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/card.html">
            Card
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/dictionary.html">
            Dictionary
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/highlight-board.html">
            Highlight Board
          </a>
        </li>
        <li>
          <a class="drizzle-b-Link" href="{{@root.baseurl}}/patterns/components/awards.html">
            Awards
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s">
    <div class="sprk-o-Stack__item">
      <a class="drizzle-b-Button" href="/gettingstarted/html.html">
        Getting Started for HTML
      </a>
    </div>
    <div class="sprk-o-Stack__item">
      <a class="drizzle-b-Button" href="/gettingstarted/angular.html">
        Getting Started for Angular
      </a>
    </div>
  </div>
  <div class="sprk-o-Stack sprk-o-Stack--medium sprk-u-mtm">
    <div class="sprk-o-Stack__item">
      <a class="drizzle-b-Button" href="/gettingstarted/react.html">
        Getting Started for React
      </a>
    </div>
  </div>
</div>
