---
title: Accordion Tests
layout: blank
---
<h1 class="drizzle-b-h1">
  Accordions
</h1>

<div class="sprk-u-mbl">
  {{#embed "patterns.components.accordions.base"}}{{/embed}}
</div>

<div class="sprk-u-pal">
  {{#embed "patterns.components.accordions.base"
    item="sprk-c-Accordion__item--secondary"
    heading="sprk-c-Accordion__heading--secondary"
    details="sprk-c-Accordion__details--secondary"
    summary="sprk-c-Accordion__summary--secondary"}}
  {{/embed}}
</div>

<ul class="sprk-c-Accordion sprk-o-VerticalList">
  <li class="sprk-c-Accordion__item {{item}}" data-sprk-toggle="container">
    <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
      <h3 class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{heading}}">
        This is an accordion heading
      </h3>

      <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
        <use xlink:href="#chevron-down"></use>
      </svg>
    </a>

    <p id="details1" class="sprk-c-Accordion__details {{details}} sprk-b-TypeBodyThree sprk-u-HideWhenJS" data-sprk-toggle="content">
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
    </p>
  </li>

  <li class="sprk-c-Accordion__item {{item}}" data-sprk-toggle="container">
    <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
      <h3 class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{heading}}">
        This is an accordion heading
      </h3>

      <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
        <use xlink:href="#chevron-down"></use>
      </svg>
    </a>

    <p id="details1" class="sprk-c-Accordion__details {{details}} sprk-b-TypeBodyThree sprk-u-HideWhenJS" data-sprk-toggle="content">
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
    </p>
  </li>

  <li class="sprk-c-Accordion__item {{item}}" data-sprk-toggle="container">
    <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
      <h3 class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{heading}}">
        This is an accordion heading
      </h3>

      <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
        <use xlink:href="#chevron-down"></use>
      </svg>
    </a>

    <p id="details1" class="sprk-c-Accordion__details {{details}} sprk-b-TypeBodyThree sprk-u-HideWhenJS" data-sprk-toggle="content">
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
      This is an example of accordion content.
    </p>
  </li>
</ul>

<nav role="navigation">
  <ul class="sprk-c-NarrowNavigation">
    <li class="sprk-c-NarrowNavigation__item" data-sprk-toggle="container">
      <a class="sprk-c-NarrowNavigation__link " href="" data-sprk-toggle="trigger">
        <div class="sprk-o-SideBySide">
          <div class="sprk-o-SideBySide__item sprk-o-SideBySide__item--three-quarters">
            <span>Item 1 </span>
          </div>
          <div class="sprk-o-SideBySide__item sprk-o-SideBySide__item--one-quarter">
            <svg class="sprk-c-Icon sprk-c-NarrowNavigation__arrow" viewBox="0 0 100 100" data-sprk-toggle="icon">
              <use xlink:href="#chevron-down" />
            </svg>
          </div>
        </div>
      </a>
      <ul class="sprk-c-NarrowNavigation sprk-c-NarrowNavigation--sub sprk-u-HideWhenJS" data-sprk-toggle="content">
        <li class="sprk-c-NarrowNavigation__sub-item">
          <a class="sprk-c-NarrowNavigation__link sprk-c-NarrowNavigation__link--sub" href="">Item 1</a>
        </li>
        <li class="sprk-c-NarrowNavigation__sub-item">
          <a class="sprk-c-NarrowNavigation__link sprk-c-NarrowNavigation__link--sub" href="">Item 2</a>
        </li>
        <li class="sprk-c-NarrowNavigation__sub-item">
          <a class="sprk-c-NarrowNavigation__link sprk-c-NarrowNavigation__link--sub" href="">Item 3</a>
        </li>
      </ul>
    </li>
    <li class="sprk-c-NarrowNavigation__item">
      <a class="sprk-c-NarrowNavigation__link " href="">
        <div class="sprk-o-SideBySide">
          <div class="sprk-o-SideBySide__item sprk-o-SideBySide__item--three-quarters">
            <span> Item 2 </span>
          </div>
          <div class="sprk-o-SideBySide__item sprk-o-SideBySide__item--one-quarter"></div>
        </div>
      </a>
    </li>
    <li class="sprk-c-NarrowNavigation__item" data-sprk-toggle="container">
      <a class="sprk-c-NarrowNavigation__link " href="" data-sprk-toggle="trigger">
        <div class="sprk-o-SideBySide">
          <div class="sprk-o-SideBySide__item sprk-o-SideBySide__item--three-quarters">
            <span>Item 3</span>
          </div>
          <div class="sprk-o-SideBySide__item sprk-o-SideBySide__item--one-quarter">
            <svg class="sprk-c-Icon sprk-c-NarrowNavigation__arrow" viewBox="0 0 100 100" data-sprk-toggle="icon">
              <use xlink:href="#chevron-down" />
            </svg>
          </div>
        </div>
      </a>
      <ul class="sprk-c-NarrowNavigation sprk-c-NarrowNavigation--sub sprk-u-HideWhenJS" data-sprk-toggle="content">
        <li class="sprk-c-NarrowNavigation__sub-item">
          <a class="sprk-c-NarrowNavigation__link sprk-c-NarrowNavigation__link--sub" href="">Item 1</a>
        </li>
        <li class="sprk-c-NarrowNavigation__sub-item">
          <a class="sprk-c-NarrowNavigation__link sprk-c-NarrowNavigation__link--sub" href="">Item 2</a>
        </li>
        <li class="sprk-c-NarrowNavigation__sub-item">
          <a class="sprk-c-NarrowNavigation__link sprk-c-NarrowNavigation__link--sub" href="">Item 3</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

