---
name: Base
order: 1
description:
  Base Cards have a maximum width and the standard Card styles.
  They are meant to be filled with related content such as a heading and paragraph.
hasAngularCode: true
hasReactCode: true
hasReactCodeInfo: true
---
<div class="{{#if stackItem}}{{stackItem}} {{/if}}sprk-c-Card sprk-o-Stack" {{#if idString}}data-id="{{idString}}"{{/if}}>
  {{#if cardImg}}
  <a href="#" class="sprk-o-Stack__item">
    <img
      class="sprk-c-Card__media"
      alt="Spark placeholder image."
      src="../../assets/toolkit/images/desktop.jpg">
  </a>
  {{/if}}

  <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--large{{#if cardIcon}} sprk-u-TextAlign--center{{/if}}">
    {{#if cardIcon}}
    <a href="#" class="sprk-u-AbsoluteCenter sprk-o-Stack__item">
      <svg class="sprk-c-Icon sprk-c-Icon--xxl" height="75" viewBox="0 0 220.63 197.62">
        <use xlink:href="#call-team-member" />
      </svg>
    </a>
    {{/if}}

    {{#if h3}}
    {{#if cardTitle}}
    <h3 class="sprk-b-TypeDisplayFive sprk-o-Stack__item">
      {{cardTitle}}
    </h3>
    {{/if}}
    {{/if}}

    {{#if h4}}
    {{#if cardTitle}}
    <h4 class="sprk-b-TypeDisplaySix sprk-o-Stack__item">
      {{cardTitle}}
    </h4>
    {{/if}}
    {{/if}}

    {{#if cardContent}}
    <p class="sprk-b-TypeBodyTwo sprk-o-Stack__item">
      {{cardContent}}
    </p>
    {{/if}}

    {{#if cardBtn}}
    <div class="sprk-o-Stack__item">
      <a href="#" class="sprk-c-Button">
        {{cardBtn}}
      </a>
    </div>
    {{/if}}

    {{#if cardLink}}
    <a href="#" class="sprk-o-Stack__item sprk-b-Link sprk-b-Link--simple sprk-b-Link--has-icon">
      Learn More
      <svg class="sprk-c-Icon" viewBox="0 0 64 64">
        <use xlink:href="#chevron-right" />
      </svg>
    </a>
    {{/if}}
  </div>
</div>
