---
name: Checkboxes
description:
  This type of input should be used when
  you want the user to indicate that a value
  is true or false. Multiple checkboxes can be
  used when the user needs to be able to select
  multiple items from a list.
order: 5
hasAngularCode: true
hasReactCode: true
---

<div class="sprk-b-InputContainer" {{#if requiredOnly}}data-sprk-required-only="tick"{{/if}}>
  <fieldset class="sprk-b-Fieldset">
    <legend class="sprk-b-Legend">
      <label class="sprk-b-Label">Checkbox Group Label</label>
    </legend>
    <div class="sprk-b-SelectionContainer">
      <input id="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}-1"
             data-id="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}-1"
             type="checkbox"
             aria-describedby="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}--error-container"
             {{#if disabled}} disabled{{/if}}>
      <label for="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}-1"
             class="sprk-b-Label sprk-b-Label--inline">Checkbox Item 1</label>
    </div>
    <div class="sprk-b-SelectionContainer">
      <input id="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}-2"
             data-id="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}-2"
             type="checkbox"
             aria-describedby="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}--error-container"
             {{#if disabled}} disabled{{/if}}>
      <label for="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}-2"
             class="sprk-b-Label sprk-b-Label--inline">Checkbox Item 2</label>
    </div>
    <div class="sprk-b-SelectionContainer">
      <input id="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}-3"
             data-id="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}-3"
             type="checkbox"
             aria-describedby="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}--error-container"
             {{#if disabled}} disabled{{/if}}>
      <label for="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}-3"
             class="sprk-b-Label sprk-b-Label--inline">Checkbox Item 3</label>
    </div>
  </fieldset>
  <div class="sprk-b-ErrorContainer" id="{{#if idattr}}{{idattr}}{{else}}checkbox-normal{{/if}}--error-container">
    {{#if errorMessage}}
      <svg class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon" viewBox="0 0 64 64">
        <use xlink:href="#exclamation-filled-small" />
      </svg>
      <div class="sprk-b-ErrorText">
        {{errorMessage}}
      </div>
    {{/if}}
  </div>
</div>
