---
name: Date Input
description:
  The date input is used for collecting date information. This component does not include a date picker.
information:
  - Spark recommends that this component be used when you expect the entered date to be in the past.
  - Masking is automatically applied when the field contains a valid input.
  - The field value contains special characters which you may need to parse out before submitting the form.
order: 25
hasAngularCode: true
hasAngularCodeInfo: true
---

<div class="sprk-b-InputContainer" data-sprk-input="date">
  <input class="sprk-b-TextInput {{#if class}}{{class}} {{/if}}sprk-u-Width-100"
         id="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}"
         type="text"
         pattern="^(((0[1358]|1[02])([\/-]?)(0[1-9]|[12]\d|3[01])|(0[469]|11)([\/-]?)(0[1-9]|[12]\d|30)|02(\/?)((0?\d)|[12]\d))(\4|\7|\9)[12]\d{3})?$"
         placeholder="MM/DD/YYYY"
         aria-describedby="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}--error-container"
         {{#if invaliddata}} aria-invalid="true"{{/if}}
         {{#if disabled}} disabled{{/if}} data-sprk-input="text">
  <div class="sprk-b-InputContainer__input-border"></div>
  <label for="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}" class="sprk-b-Label">Date</label>
  <div class="sprk-b-ErrorContainer" id="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}--error-container">
    {{#if errorMessage}}
      <svg class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon" viewBox="0 0 64 64">
        <use xlink:href="#exclamation" />
      </svg>
      <div class="sprk-b-ErrorText">
        {{errorMessage}}
      </div>
    {{/if}}
  </div>
</div>
