---
name: Date Picker
description:
  The date picker component is a type of
  date input, but has the actual date
  picker feature with a calendar
  included to allow users to pick
  a very specific date on the calendar.
  Spark recommends that this component
  be used to select dates in the future.
information:
  - Only to be used for future dates (ex. Schedule a future payment).
  - The date picker is hidden by default and becomes visible on focus.
  - 'Selecting a date hides the date picker and puts the value in the input in the MM/DD/YYYY format.'
  - 'On blur, format the input to this format: MM/DD/YYYY.'
  - 'Placeholder text should read: MM/DD/YYYY.'
  - On key press, reveal the placeholder inline with the label.
order: 25
---

<div class="sprk-b-InputContainer" data-sprk-input="date" data-sprk-datepicker>
  <div class="sprk-b-TextInput--date-picker">
      <svg class="sprk-c-Icon sprk-b-DatePicker__icon" viewBox="0 0 100 100">
          <use xlink:href="#calendar" />
      </svg>
      <input class="sprk-b-TextInput sprk-u-pll {{#if class}}{{class}} {{/if}}sprk-u-Width-100"
             id="{{#if idattr}}{{idattr}}{{else}}datepicker-normal{{/if}}"
             type="date"
             pattern="^(((0[1358]|1[02])([\/-]?)(0[1-9]|[12]\d|3[01])|(0[469]|11)([\/-]?)(0[1-9]|[12]\d|30)|02(\/?)((0?\d)|[12]\d))(\4|\7|\9)[12]\d{3})?$"
             placeholder="MM/DD/YYYY"
             {{#if invaliddata}} aria-invalid="true"{{/if}}
             aria-describedby="{{#if idattr}}{{idattr}}{{else}}datepicker-normal{{/if}}--error-container"
        {{#if disabled}} disabled{{/if}} data-sprk-input="text">
    <div class="sprk-b-InputContainer__input-border"></div>
    <label for="{{#if idattr}}{{idattr}}{{else}}datepicker-normal{{/if}}" class="sprk-b-Label">Date</label>
  </div>
  <div class="sprk-b-ErrorContainer" id="{{#if idattr}}{{idattr}}{{else}}datepicker-normal{{/if}}--error-container">
    {{#if errorMessage}}
      <svg class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon" viewBox="0 0 100 100">
        <use xlink:href="#exclamation" />
      </svg>
      <div class="sprk-b-ErrorText">
        {{errorMessage}}
      </div>
    {{/if}}
  </div>
</div>
