---
name: Date Input
information:
  - 'On blur, format the input to this format: MM/DD/YYYY.'
  - 'Placeholder text should read: MM/DD/YYYY.'
  - On key press, reveal the placeholder inline with the label.
order: 27
---

<div class="sprk-b-InputContainer" data-sprk-input="date">
  <label for="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}" class="sprk-b-Label">Date</label>
  <input class="sprk-b-TextInput {{#if class}}{{class}} {{/if}}sprk-u-Size-100"
         id="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}"
         type="text"
         pattern="(^\d{2}((\/)|-)\d{2}((\/)|-)\d{4}$)|(^\d{8}$)|^$"
         placeholder="MM/DD/YYYY"
         aria-describedby="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}--error-container"
         {{#if invaliddata}} aria-invalid="true"{{/if}}
         {{#if disabled}} disabled{{/if}}>
  <span class="sprk-b-ErrorText"
        id="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}--error-container">
    {{#if errorMessage}}{{errorMessage}}{{/if}}</span>
</div>
