---
name: Date Input
description:
  The date input component is used
  for collecting date information.
  Spark recommends that this
  component be used to collect
  information for the past.
information:
  - 'On blur, format the input to this format: MM/DD/YYYY.'
  - 'Placeholder text should read: MM/DD/YYYY.'
  - On key press, reveal the placeholder inline with the label.
order: 27
---

<div class="sprk-b-InputContainer" data-sprk-input="date">
  <input class="sprk-b-TextInput {{#if class}}{{class}} {{/if}}sprk-u-Width-100"
         id="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}"
         type="text"
         pattern="^(((0[1358]|1[02])([\/-]?)(0[1-9]|[12]\d|3[01])|(0[469]|11)([\/-]?)(0[1-9]|[12]\d|30)|02(\/?)((0?\d)|[12]\d))(\4|\7|\9)[12]\d{3})?$"
         placeholder="MM/DD/YYYY"
         aria-describedby="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}--error-container"
         {{#if invaliddata}} aria-invalid="true"{{/if}}
         {{#if disabled}} disabled{{/if}} data-sprk-input="text">
  <div class="sprk-b-InputContainer__input-border"></div>
  <label for="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}" class="sprk-b-Label">Date</label>
  <div class="sprk-b-ErrorContainer" id="{{#if idattr}}{{idattr}}{{else}}date-input-normal{{/if}}--error-container">
    {{#if errorMessage}}
      <svg class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon" viewBox="0 0 100 100">
        <use xlink:href="#exclamation" />
      </svg>
      <div class="sprk-b-ErrorText">
        {{errorMessage}}
      </div>
    {{/if}}
  </div>
</div>
