---
name: Inline Search Input
description:
  This style of the search input
  retains the same functionality
  as the "search input," but is
  styled in such a manner as
  to allow it to be used in the
  Masthead component or similar components.
order: 16
stateChanger: true
---
<div class="sprk-b-InputContainer {{#if containerClass}}{{containerClass}} {{/if}} ">
  <input placeholder="Search"
         class="sprk-b-TextInput {{#if class}}{{class}} {{/if}} sprk-u-Width-100"
         id="{{#if idattr}}{{idattr}}{{else}}inline-search{{/if}}"
         type="search"
         role="search"
         aria-describedby="{{#if idattr}}{{idattr}}{{else}}inline-search{{/if}}--error-container"
         {{#if invaliddata}} aria-invalid="true"{{/if}}
         {{#if disabled}} disabled{{/if}} data-sprk-input="text">
  <label for="{{#if idattr}}{{idattr}}{{else}}inline-search{{/if}}" class="sprk-u-ScreenReaderText">Search</label>
  <div class="sprk-b-InputContainer__input-border"></div>
  <div class="sprk-b-ErrorText"
       id="{{#if idattr}}{{idattr}}{{else}}inline-search{{/if}}--error-container">
    {{#if errorMessage}}
      <svg class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon" viewBox="0 0 100 100">
        <use xlink:href="#exclamation" />
      </svg>
      {{errorMessage}}{{/if}}</div>
</div>
