---
name: Monetary Input
info:
  - On blur, format the input to include commas and a decimal followed by two zeros (ex. 1,000.00).
restrictions:
  - Do not use placeholder text.
order: 18
---

<div class="sprk-b-InputContainer" data-sprk-input="monetary">
  <label for="{{#if idattr}}{{idattr}}{{else}}monetary-normal{{/if}}" class="sprk-b-Label">Payment</label>
  <span class="sprk-b-TextInput--monetary">
    <input class="sprk-b-TextInput {{#if class}}{{class}} {{/if}} sprk-u-Size-100 sprk-u-plm"
           pattern="(^\$?(\d+|\d{1,3}(,\d{3})*)(\.\d+)?$)|^$"
           id="{{#if idattr}}{{idattr}}{{else}}monetary-normal{{/if}}"
           aria-describedby="{{#if idattr}}{{idattr}}{{else}}monetary-normal{{/if}}--error-container"
           {{#if disabled}} disabled{{/if}}>
  </span>
  <span class="sprk-b-ErrorText"
        id="{{#if idattr}}{{idattr}}{{else}}monetary-normal{{/if}}--error-container">
        {{#if errorMessage}}{{errorMessage}}{{/if}}</span>
</div>
