---
name: Password Input
information:
  - Use *'s to mask the value by default.
  - Checking "Show Password" removes the mask and shows the actual password.
order: 20
---

<div class="sprk-b-InputContainer" data-sprk-input="password">
  <label for="{{#if idattr}}{{idattr}}{{else}}password-normal{{/if}}" class="sprk-b-Label">Password</label>
  <input class="sprk-b-TextInput {{#if class}}{{class}} {{/if}}sprk-u-Width-100"
         id="{{#if idattr}}{{idattr}}{{else}}password-normal{{/if}}"
         type="password"
         aria-describedby="{{#if idattr}}{{idattr}}{{else}}password-normal{{/if}}--error-container"
         {{#if invaliddata}} aria-invalid="true"{{/if}}
         {{#if disabled}} disabled{{/if}}>
  <div class="sprk-b-SelectionContainer">
    <input id="{{#if idattr}}{{idattr}}{{else}}password-normal{{/if}}-show-password" type="checkbox"
      {{#if disabled}} disabled{{/if}}>
    <label for="{{#if idattr}}{{idattr}}{{else}}password-normal{{/if}}-show-password"
           class="sprk-b-Label--inline sprk-u-mls">Show Password</label>
  </div>
  <span class="sprk-b-ErrorText" id="{{#if idattr}}{{idattr}}{{else}}password-normal{{/if}}--error-container">
    {{#if errorMessage}}{{errorMessage}}{{/if}}</span>
</div>
