---
name: Phone Number Input
description:
  This input should be used to collect
  a phone number. The input will auto
  format the phone number on blur.
information:
  - On blur, format the input to wrap the first 3 numbers in parenthases and add a dash before the last 4 numbers (ex. (555) 555-5555)
  - 'Placeholder text should read: (000) 000-0000.'
  - On key press, reveal the placeholder inline with the label.
order: 23
---

<div class="sprk-b-InputContainer" data-sprk-input="phone">
  <input class="sprk-b-TextInput {{#if class}}{{class}} {{/if}}sprk-u-Width-100"
         id="{{#if idattr}}{{idattr}}{{else}}phone-input-normal{{/if}}"
         type="tel"
         pattern="(^(\+\d{1,2}\s)?((\(\d{3}\))|\d{3})[\s.-]?\d{3}[\s.-]?\d{4}$)|^$"
         placeholder="(000) 000-0000"
         aria-describedby="{{#if idattr}}{{idattr}}{{else}}phone-input-normal{{/if}}--error-container"
         {{#if invaliddata}} aria-invalid="true"{{/if}}
         {{#if disabled}} disabled{{/if}} data-sprk-input="text">
  <div class="sprk-b-InputContainer__input-border"></div>
  <label for="{{#if idattr}}{{idattr}}{{else}}phone-input-normal{{/if}}" class="sprk-b-Label">Phone Number</label>
  <div class="sprk-b-ErrorContainer" id="{{#if idattr}}{{idattr}}{{else}}phone-input-normal{{/if}}--error-container">
    {{#if errorMessage}}
      <svg class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon" viewBox="0 0 100 100">
        <use xlink:href="#exclamation" />
      </svg>
      <div class="sprk-b-ErrorText">
        {{errorMessage}}
      </div>
    {{/if}}
  </div>
</div>
