---
name: Radio Buttons
description:
  This type of input should be
  used when the user can only
  select one option from a list
  of items. The radio button
  component should be used when
  there is a minimum of 2 items
  to choose from in the list.
order: 5
---

<div class="sprk-b-InputContainer">
  <fieldset>
    <legend>
      <label class="sprk-b-Label">Radio Group Label</label>
    </legend>
    <div class="sprk-b-SelectionContainer">
      <input id="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}-1"
             type="radio"
             name="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}"
             aria-describedby="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}--error-container"
        {{#if disabled}} disabled{{/if}}>
      <label for="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}-1"
             class="sprk-b-Label sprk-b-Label--inline sprk-u-mls">Radio Item 1</label>
    </div>
    <div class="sprk-b-SelectionContainer">
      <input id="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}-2"
             type="radio"
             name="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}"
             aria-describedby="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}--error-container"
        {{#if disabled}} disabled{{/if}}>
      <label for="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}-2"
             class="sprk-b-Label sprk-b-Label--inline sprk-u-mls">Radio Item 2</label>
    </div>
    <div class="sprk-b-SelectionContainer">
      <input id="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}-3"
             type="radio"
             name="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}"
             aria-describedby="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}--error-container"
        {{#if disabled}} disabled{{/if}}>
      <label for="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}-3"
             class="sprk-b-Label sprk-b-Label--inline sprk-u-mls">Radio Item 3</label>
    </div>
  </fieldset>
  <div class="sprk-b-ErrorText" id="{{#if idattr}}{{idattr}}{{else}}radio-normal{{/if}}--error-container">
    {{#if errorMessage}}{{errorMessage}}{{/if}}</div>
</div>
