---
name: Search Input
description:
  This input is used for entering search queries.
information:
  - The sprk-b-InputContainer--huge class is available for use on this input. For full functionality, see restrictions in the Text Huge Inputs section.
order: 16
hasAngularCode: true
hasReactCode: true
---

<div class="sprk-b-InputContainer">
  <label for="{{#if idattr}}{{idattr}}{{else}}search-normal{{/if}}" class="sprk-b-Label">Search</label>
  <input class="sprk-b-TextInput {{#if class}}{{class}} {{/if}}sprk-u-Width-100"
         id="{{#if idattr}}{{idattr}}{{else}}search-normal{{/if}}"
         data-id="{{#if idattr}}{{idattr}}{{else}}search-normal{{/if}}"
         type="search"
         role="search"
         aria-describedby="{{#if idattr}}{{idattr}}{{else}}search-normal{{/if}}--error-container"
         {{#if invaliddata}} aria-invalid="true"{{/if}}
         {{#if disabled}} disabled{{/if}} >
  <div class="sprk-b-ErrorContainer" id="{{#if idattr}}{{idattr}}{{else}}search-normal{{/if}}--error-container">
    {{#if errorMessage}}
      <svg class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon" viewBox="0 0 64 64">
        <use xlink:href="#exclamation-filled-small" />
      </svg>
      <div class="sprk-b-ErrorText">
        {{errorMessage}}
      </div>
    {{/if}}
  </div>
</div>
