---
name: Select Box Huge
description:
  This input type should be used when a
  user needs to select a single option
  from a list of two or more options.
information:
  - Every item in the select input should be a valid option. As a best practice, do not put
    "Select an option..." or similar as the first option in the dropdown. If you want to provide
    further instructions related to this input, use Helper Text.
order: 10
hasAngularCode: false
hasReactCode: false
---

<div class="sprk-b-InputContainer sprk-b-InputContainer--huge" {{#if requiredOnly}}data-sprk-required-only="select"{{/if}}>
  <select class="sprk-b-Select {{#if class}} {{class}}{{/if}}"
          id="{{#if idattr}}{{idattr}}{{else}}select-huge{{/if}}"
          data-id="{{#if idattr}}{{idattr}}{{else}}select-huge{{/if}}"
          aria-describedby="{{#if idattr}}{{idattr}}{{else}}select-huge{{/if}}--error-container"
          data-sprk-input="hugeTextInput"
          {{#if disabled}} disabled{{/if}}
    >
    <option value="not-selected" disabled selected hidden></option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    <optgroup label="Grouped Options">
      <option value="g1">Grouped Option 1</option>
      <option value="g2">Grouped Option 2</option>
      <option value="g3">Grouped Option 3</option>
    </optgroup>
  </select>

  <label for="{{#if idattr}}{{idattr}}{{else}}select-huge{{/if}}"
         class="sprk-b-Label{{#if disabled}} sprk-b-Label--disabled{{/if}}">
    Select Box Label
  </label>

  <svg class="sprk-c-Icon sprk-c-Icon--stroke-current-color sprk-b-SelectContainer__icon" viewBox="0 0 64 64">
    <use xlink:href="#chevron-down" />
  </svg>

  <div class="sprk-b-ErrorContainer" id="{{#if idattr}}{{idattr}}{{else}}select-huge{{/if}}--error-container">
    {{#if errorMessage}}
      <svg class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon" viewBox="0 0 64 64">
        <use xlink:href="#exclamation-filled-small" />
      </svg>
      <div class="sprk-b-ErrorText">
        {{errorMessage}}
      </div>
    {{/if}}
  </div>
</div>
