---
name: Select Box Huge
description:
  This select input is larger than the default select input and the design is consistent with the huge text input.
  The label is centered inside the select until focused. On focus, the label transitions to the top of the select.
information:
  - If a select will have a value on page load then add the class of 'sprk-b-Input--has-floating-label' to the select.
    Spark JS will check for a value in the select and float the label by adding the class on page load if the class is not there.
  - If a blank default option (a not required select) is desired then remove the 'disabled' and 'hidden' attributes
    from the first option in the select. This will also users to select a blank first option.
restrictions:
  - The first option element inside the select must be empty and have the 'selected' attribute.
  - This should only be used in a form that displays one input at a time.
  - The select element must come before the label element.
  - Labels cannot be long in length as they must fit inside the select. They should not wrap onto a second line.
order: 11
hasAngularCode: false
hasReactCode: false
---

<div class="sprk-b-InputContainer sprk-b-InputContainer--huge" {{#if requiredOnly}}data-sprk-required-only="select"{{/if}}>
  <select class="sprk-b-Select {{#if class}} {{class}}{{/if}}"
          id="{{#if idattr}}{{idattr}}{{else}}select-huge{{/if}}"
          data-id="{{#if idattr}}{{idattr}}{{else}}select-huge{{/if}}"
          aria-describedby="{{#if idattr}}{{idattr}}{{else}}select-huge{{/if}}--error-container"
          data-sprk-input="huge"
          {{#if disabled}} disabled{{/if}}>
    <option value="" disabled selected hidden></option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    <optgroup label="Grouped Options">
      <option value="g1">Grouped Option 1</option>
      <option value="g2">Grouped Option 2</option>
      <option value="g3">Grouped Option 3</option>
    </optgroup>
  </select>

  <label for="{{#if idattr}}{{idattr}}{{else}}select-huge{{/if}}"
         class="sprk-b-Label{{#if disabled}} sprk-b-Label--disabled{{/if}}">
    Select Box Label
  </label>

  <svg class="sprk-c-Icon sprk-c-Icon--stroke-current-color sprk-b-SelectContainer__icon" viewBox="0 0 64 64">
    <use xlink:href="#chevron-down" />
  </svg>

  <div class="sprk-b-ErrorContainer" id="{{#if idattr}}{{idattr}}{{else}}select-huge{{/if}}--error-container">
    {{#if errorMessage}}
      <svg class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon" viewBox="0 0 64 64">
        <use xlink:href="#exclamation-filled-small" />
      </svg>
      <div class="sprk-b-ErrorText">
        {{errorMessage}}
      </div>
    {{/if}}
  </div>
</div>
