---
name: SSN Input
description:
  This specific input is specifically
  used to collect a user's Social Security
  Number and has a very specific set of
  rules in the section below.
information:
  - Use *'s to mask the value by default.
  - Checking "Show SSN" removes the mask and shows the actual SSN.
  - On blur of the text input, if the "Show SSN" box is checked, add dashes between the 3rd and 4th number and the 5th and 6th number (ex. 000-00-0000).
  - 'Placeholder text should read: 000-00-0000.'
  - On key press, reveal the placeholder inline with the label.
  - To override the invalid SSN content, place an attribute on the input container called 'data-sprk-input-invalid-ssn-content' and set the value
    to your content. This value is read when the validation runs.
order: 11
---

<div class="sprk-b-InputContainer" data-sprk-input="ssn">
  <label for="{{#if idattr}}{{idattr}}{{else}}ssn-normal{{/if}}" class="sprk-b-Label">Social Security #</label>
  <input class="sprk-b-TextInput {{#if class}}{{class}} {{/if}}sprk-u-Width-100"
         id="{{#if idattr}}{{idattr}}{{else}}ssn-normal{{/if}}"
         type="password"
         pattern="(^(?!666|000|9\d{2})\d{3}([-]{0,1})(?!00)\d{2}\1(?!0{4})\2\d{4}$)|^$"
         placeholder="000-00-0000"
         {{#if invaliddata}} aria-invalid="true"{{/if}}
         aria-describedby="{{#if idattr}}{{idattr}}{{else}}ssn-normal{{/if}}--error-container"
         {{#if disabled}} disabled{{/if}}>
  <div class="sprk-b-SelectionContainer">
    <input id="{{#if idattr}}{{idattr}}{{else}}ssn-normal{{/if}}-show-ssn" type="checkbox"
      {{#if disabled}} disabled{{/if}}>
    <label for="{{#if idattr}}{{idattr}}{{else}}ssn-normal{{/if}}-show-ssn" class="sprk-b-Label--inline sprk-u-mls">Show SSN</label>
  </div>
  <div class="sprk-b-ErrorText" id="{{#if idattr}}{{idattr}}{{else}}ssn-normal{{/if}}--error-container">
    {{#if errorMessage}}{{errorMessage}}{{/if}}</div>
</div>
