---
name: Text Input
description:
  This is the base form input.
information:
  - The input's 'type' attribute should be the most
    appropriate value that semantically matches your use case.
links:
  Helper Text:
    external: false
    href: inputs.html#helper-text
stateChanger: true
order: 1
hasAngularCode: true
hasReactCode: true
---

<div class="sprk-b-InputContainer {{#if containerclass}}{{containerclass}}{{/if}}" {{#if requiredOnly}}data-sprk-required-only="text"{{/if}}>
  <label
      for="{{#if idattr}}{{idattr}}{{else}}text-input-normal{{/if}}"
      class="sprk-b-Label{{#if disabled}} sprk-b-Label--disabled{{/if}} {{#if labelclass}}{{labelclass}}{{/if}}">Text Input Label</label>
  <input class="sprk-b-TextInput {{#if class}}{{class}} {{/if}}sprk-u-Width-100"
         id="{{#if idattr}}{{idattr}}{{else}}text-input-normal{{/if}}"
         data-id="{{#if idattr}}{{idattr}}{{else}}text-input-normal{{/if}}"
         type="text"
         value="{{inputValue}}"
         aria-describedby="{{#if idattr}}{{idattr}}{{else}}text-input-normal{{/if}}--error-container"
         {{#if disabled}} disabled{{/if}}
         {{#if invaliddata}} aria-invalid="true"{{/if}}
         {{#if required}}required{{/if}} {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}>
  {{#if errorMessage}}
    <div class="sprk-b-ErrorContainer" id="{{#if idattr}}{{idattr}}{{else}}text-input-normal{{/if}}--error-container">
      <svg class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon" viewBox="0 0 64 64">
        <use xlink:href="#exclamation-filled-small" />
      </svg>
      <div class="sprk-b-ErrorText">
          {{errorMessage}}
      </div>
    </div>
  {{/if}}
  {{#if helperText }}
    <div class="sprk-b-HelperText">
      {{ helperText }}
    </div>
  {{/if}}
</div>

