---
name: Text Input Huge
description:
  This text input is larger than base text input.
information:
  - The input's 'type' attribute should be the most appropriate value that semantically matches your
    use case.
  - The label is hidden, but important to include so it's still accessible to screen readers.
restrictions:
  - This should only be used in a form that asks for one input at a time.
links:
  Helper Text:
    external: false
    href: inputs.html#helper-text
order: 2
invisible: false
hasAngularCode: true
hasReactCode: true
---

<div class="sprk-b-InputContainer sprk-b-InputContainer--huge{{#if containerclass}} {{containerclass}}{{/if}}" {{#if requiredOnly}}data-sprk-required-only="text"{{/if}}>
  <input class="sprk-b-TextInput sprk-u-Width-100{{#if class}} {{class}}{{/if}}"
    id="{{#if idattr}}{{idattr}}{{else}}text-input-huge{{/if}}"
    data-id="{{#if idattr}}{{idattr}}{{else}}text-input-huge{{/if}}"
    type="text"
    {{#if inputValue}}value="{{inputValue}}"{{/if}}
    aria-describedby="{{#if idattr}}{{idattr}}{{else}}text-input-huge{{/if}}--error-container"
    {{#if disabled}} disabled{{/if}}
    {{#if invaliddata}} aria-invalid="true"{{/if}}
    {{#if required}}required{{/if}} placeholder="{{#if placeholder}}{{placeholder}}{{else}} {{/if}}">
  <label
    for="{{#if idattr}}{{idattr}}{{else}}text-input-huge{{/if}}"
    class="sprk-b-Label{{#if disabled}} sprk-b-Label--disabled{{/if}} {{#if labelclass}}{{labelclass}}{{/if}}">Text Input Label</label>
  {{#if errorMessage}}
    <div class="sprk-b-ErrorContainer" id="{{#if idattr}}{{idattr}}{{else}}text-input-huge{{/if}}--error-container">
      <svg class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon" viewBox="0 0 64 64">
        <use xlink:href="#exclamation-filled-small" />
      </svg>
      <div class="sprk-b-ErrorText">
          {{errorMessage}}
      </div>
    </div>
  {{/if}}
  {{#if helperText }}
    <div class="sprk-b-HelperText">
      {{ helperText }}
    </div>
  {{/if}}
</div>
