---
name: Text Input
restrictions:
  - The input's 'type' attribute should be the most appropriate value that semantically matches your
    use case.
links:
  Helper Text:  inputs.html#helper-text
stateChanger: true
order: 1
---

<div class="sprk-b-InputContainer">
  <label for="{{#if idattr}}{{idattr}}{{else}}text-input-normal{{/if}}">Text Input Label</label>
  <input class="sprk-b-TextInput {{#if class}}{{class}} {{/if}}sprk-u-Size-100"
         id="{{#if idattr}}{{idattr}}{{else}}text-input-normal{{/if}}"
         type="text"
         aria-describedby="{{#if idattr}}{{idattr}}{{else}}text-input-normal{{/if}}--error-container"
         {{#if disabled}} disabled{{/if}}>
  <span class="sprk-b-ErrorText"
        id="{{#if idattr}}{{idattr}}{{else}}text-input-normal{{/if}}--error-container">
    {{#if errorMessage}}{{errorMessage}}{{/if}}</span>
</div>
