<div class="drizzle-c-StateChanger" data-state-changer-id="{{id}}"
     role="radiogroup" aria-labelledby="state-select-{{id}}">
  <span class="drizzle-b-h5 drizzle-u-ScreenReaderText" id="state-select-{{id}}">State Selection</span>
  <div class="drizzle-b-Label drizzle-c-StateChanger__state">
    <input class="drizzle-c-StateChanger__state-item" id="drizzle-form-state-normal-{{id}}"
           name="drizzle-form-state-{{id}}" type="radio" value="normal" checked>
    <label class="drizzle-b-Label drizzle-c-StateChanger__state-item drizzle-b-h6"
           for="drizzle-form-state-normal-{{id}}">Normal</label>
  </div>
  <div class="drizzle-c-StateChanger__state">
    <input class="drizzle-c-StateChanger__state-item"
           id="drizzle-form-state-error-{{id}}" name="drizzle-form-state-{{id}}" type="radio"
           value="error">
    <label class="drizzle-b-Label drizzle-c-StateChanger__state-item drizzle-b-h6"
           for="drizzle-form-state-error-{{id}}">Error</label>
  </div>
  <div class="drizzle-c-StateChanger__state">
    <input class="drizzle-c-StateChanger__state-item" id="drizzle-form-state-disabled-{{id}}"
           name="drizzle-form-state-{{id}}" type="radio" value="disabled">
    <label class="drizzle-b-Label drizzle-c-StateChanger__state-item drizzle-b-h6"
           for="drizzle-form-state-disabled-{{id}}">Disabled</label>
  </div>
</div>
