---
name: Base
order: 1
description:
  Base Cards have a maximum width and the standard Card styles.
  They are meant to be filled with related content such as a heading and paragraph.
---
<div class="{{#if stackItem}}{{stackItem}} {{/if}}sprk-c-Card sprk-o-Stack">
  {{#if cardImg}}
  <a href="#" class="sprk-o-Stack__item">
    <img
      alt="Spark placeholder image."
      src="../../assets/toolkit/images/spark-placeholder.jpg">
  </a>
  {{/if}}

  <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium{{#if cardIcon}} sprk-u-TextAlign--center{{/if}}">
    {{#if cardIcon}}
    <a href="#" class="sprk-u-AbsoluteCenter sprk-o-Stack__item">
      <svg height="75" viewBox="0 0 220.63 197.62">
        <use xlink:href="#bell" />
      </svg>
    </a>
    {{/if}}

    {{#if h3}}
    {{#if cardTitle}}
    <h3 class="sprk-b-TypeDisplayFive sprk-o-Stack__item">
      {{cardTitle}}
    </h3>
    {{/if}}
    {{/if}}

    {{#if h4}}
    {{#if cardTitle}}
    <h4 class="sprk-b-TypeDisplaySix sprk-o-Stack__item">
      {{cardTitle}}
    </h4>
    {{/if}}
    {{/if}}

    {{#if cardContent}}
    <p class="sprk-b-TypeBodyTwo sprk-o-Stack__item">
      {{cardContent}}
    </p>
    {{/if}}

    {{#if cardBtn}}
    <div class="sprk-o-Stack__item">
      <a href="#" class="sprk-c-Button">
      {{cardBtn}}
      </a>
    </div>
    {{/if}}

    {{#if cardLink}}
    <a href="#" class="sprk-o-Stack__item sprk-b-Link sprk-b-Link--standalone">
      Learn More
    </a>
    {{/if}}
  </div>
</div>
