---
name: Narrow Navigation
description:
  This component is intended for narrow viewports.
  On wide viewports, you should use the Wide Navigation component.
order: 2
---

<nav role="navigation">
  <ul class="sprk-c-Accordion sprk-c-Accordion--navigation sprk-b-List sprk-b-List--bare">
    <li class="sprk-c-Accordion__item {{item}}" data-sprk-toggle="container">
      <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
        <span class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{heading}}">
          Item 1
        </span>

        <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
          <use xlink:href="#chevron-down"></use>
        </svg>
      </a>
      <ul class="sprk-b-List sprk-b-List--bare sprk-c-Accordion__details sprk-u-HideWhenJs" data-sprk-toggle="content">
        <li>
          <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 1</a>
        </li>
        <li>
          <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 2</a>
        </li>
        <li>
          <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 3</a>
        </li>
      </ul>
    </li>

    <li class="sprk-c-Accordion__item {{item}}">
      <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" href="#">
        <span class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{heading}}">
          Item 2
        </span>
      </a>
    </li>

    <li class="sprk-c-Accordion__item {{item}}" data-sprk-toggle="container">
      <a aria-controls="details1" class="sprk-c-Accordion__summary {{summary}}" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
        <span class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading {{heading}}">
          Item 3
        </span>

        <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
          <use xlink:href="#chevron-down"></use>
        </svg>
      </a>
      <ul class="sprk-b-List sprk-b-List--bare sprk-c-Accordion__details sprk-u-HideWhenJs" data-sprk-toggle="content">
        <li>
          <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 1</a>
        </li>
        <li>
          <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 2</a>
        </li>
        <li>
          <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 3</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
